.chat__write-container {
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  /* background-color: #f7f7f7; */

  margin: 0 auto;
  left: 0;
  right: 0;

  justify-content: space-between;
  align-items: center;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 22px;

  transition: opacity 0.2s ease-in-out;
}

.chat__write {
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 18px;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  margin: 0 auto;
}

.chat__write:focus {
  outline: none;

  width: 80%;
  margin: 0 auto;
  transform: translateY(-50px);
  border-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
}

.chat-screen {
  background-image: url(../image/back_img.png);
  min-height: 200vh;
  padding-top: 110px;
}

.chat-body {
  padding: 0;
  background-color: rgba(155, 155, 155, 0.3);
}

.chat-body .status-bar,
.chat-body .header {
  padding: 0px 20px;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0px 20px;
  padding-top: 30px;
  padding-right: 0px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.message {
  display: flex;
  align-items: flex-start;
  min-width: 50%;

  margin-bottom: 20px;
}

.message .message__content {
  width: 80%;
}

.incoming-message img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.incoming-message {
  align-self: flex-start;
}

.incoming-message img {
  margin-right: 15px;
}
.sent-message {
  align-self: flex-end;
}

.message__bubble {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(153, 132, 132, 0.024) 0px -6px 16px -6px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
}

.incoming-message .message__author {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-top-left-radius: 0px;
  background-image: linear-gradient(to right, #cac531, #f3f9a7);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
}

.chat-header {
  padding-top: 10px;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(153, 132, 132, 0.024) 0px -6px 16px -6px;
  z-index: 1;
}

@keyframes incomingAni {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAni 0.5s ease-in-out forwards;
}

@keyframes sentAni {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAni 0.5s ease-in-out forwards;
}

@keyframes spin {
  from {
    transform: rotateY(1turn);
  }
  to {
    transform: none;
  }
}
.g-avatar.message__avatar {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(153, 132, 132, 0.024) 0px -6px 16px -6px;
  animation: spin 1s linear infinite;
}
