@keyframes navFadeIn {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav {
  transform: translateY(50px);
  animation: navFadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 20px 50px;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  left: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 50%;
}
