@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "start.css";
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

main {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.warning {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fce006;
  font-size: 38px;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 4;
  left: 0px;
  top: 0px;
}

@media screen and (min-width: 550px) {
  .warning {
    display: flex;
    z-index: 0;
  }
}
